
h1 {
    text-decoration: underline;
  }
  .melynas_tekstas{
    color:blue;
  }
  .pasvires-raudonas-tekstas{
    color: red;
    font-style: italic;          
  }
  .padidintas-langelis{
    height: 100px;
    width: 30%;
    color: red;
    font-style: italic;    
  }
  .mygtukas{
    margin-top: 20px;
  }

   
      


